PORT=3000
HOST=0.0.0.0
DATABASE_URL=postgresql://postgres:YOUR-PASSWORD@db.zfybgjltbxazbawhtovj.supabase.co:5432/postgres
DATABASE_SSL=true
CORS_ORIGIN=*
SUPABASE_URL=https://zfybgjltbxazbawhtovj.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_ilbWi7U6s5wGPklDLZR2wg_8CSVx1_l
